@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Goodreads widget styles */
.gr_custom_container_1775432761 {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  background-color: #fffefa;
  color: #63967d;
  width: 300px;
}
.gr_custom_header_1775432761 {
  border-bottom: 1px solid gray;
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
  font-size: 80%;
}
.gr_custom_each_container_1775432761 {
  width: 100%;
  clear: both;
  margin-bottom: 10px;
  overflow: auto;
  padding-bottom: 4px;
  border-bottom: 1px solid #aaa;
}
.gr_custom_book_container_1775432761 {
  overflow: hidden;
  height: 160px;
  float: left;
  margin-right: 4px;
  width: 98px;
}
.gr_custom_author_1775432761 {
  font-size: 10px;
}
.gr_custom_tags_1775432761 {
  font-size: 10px;
  color: gray;
}
.gr_custom_rating_1775432761 {
  float: right;
}

  /* Custom selection color (Gardener Green) */
  ::selection {
    background: #065f46;
    color: white;
  }
